* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
	fill: #181616;
}

.title {
	font-size: 30px;
	text-anchor: middle;
	fill: #f5f5f5;
}

.text {
	font-size: 16px;
	text-anchor: middle;
	fill: #f5f5f5;
}
