* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
	fill: #181616;
}

.title {
	font-size: 32px;
	text-anchor: middle;
	fill: #f5f5f5;
}

.values {
	font-size: 18px;
	text-anchor: middle;
	dominant-baseline: middle;
}

.years {
	font-size: 18px;
	text-anchor: middle;
	dominant-baseline: middle;
	font-weight: 100;
	fill: #f5f5f5;
}

.line {
    stroke: #f5f5f5;
    stroke-width: 1px;
    stroke-dasharray: 1, 4;
}

.label-background {
	fill: #f5f5f5;
}